<div id="ganttCbProject" style="height:100%; width:100%;" ng-controller="GanttCbProjectCtrl">

    <div id="topPane">
        <div class="combo_group">
            <label>프로젝트</label>
            <div dhx-combo style="width:180px;" class="combo"
                 dhx-data="cbProjectItems"
                 dhx-filter="cbProjectFilter"
                 dhx-selected="cbProjectSelected"
                 dhx-change="setProject"></div>
        </div>

        <div class="combo_group">
            <label>사용자</label>
            <div dhx-combo style="width:120px;" class="combo"
                 dhx-data="cbUserItems"
                 dhx-filter="cbUserFilter"
                 dhx-selected="cbUserSelected"
                 dhx-change="setUser"></div>
        </div>

        <div class="combo_group">
            <label>기간</label>
            <div dhx-combo style="width:80px;" class="combo"
                 dhx-data="cbScaleItems"
                 dhx-selected="scale"
                 ></div>
        </div>

        <!--<div class="btn-group" dropdown is-open="status.isopen">-->
            <!--<button type="button" class="btn btn-primary dropdown-toggle">-->
                <!--{{selectedUser}}<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li ng-repeat="user in userList">-->
                    <!--<a href ng-click="setUser(user.uri)">{{user.name}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->


        <!--<div class="btn-group" dropdown is-open="status.isopen">-->
            <!--<button type="button" class="btn btn-primary dropdown-toggle">-->
                <!--{{selectedProjectName}}<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li ng-repeat="project in projectList">-->
                    <!--<a href ng-click="setProject(project.uri)">{{project.name}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

        <!--<div class="btn-group" dropdown is-open="status.isopen">-->
            <!--<button type="button" class="btn btn-primary dropdown-toggle">-->
                <!--{{selectedScale}}<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li>-->
                    <!--<a href ng-click="setScale('Day')">Day</a>-->
                    <!--<a href ng-click="setScale('Week')">Week</a>-->
                    <!--<a href ng-click="setScale('Month')">Month</a>-->
                    <!--<a href ng-click="setScale('Year')">Year</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>

    <div dhx-gantt style="height:100%; width:100%; padding-top: 50px;"
         dhx-data="tasks"
         dhx-scale="scale"
         dhx-task-add="onTaskAdd"
         dhx-task-update="onTaskUpdate"
         dhx-task-delete="onTaskDelete"
         dhx-link-add="onLinkAdd"
         dhx-link-update="onLinkUpdate"
         dhx-link-delete="onLinkDelete"
         dhx-context-menu="contextMenu"
            ></div>
</div>
