<div id="ganttCbProject" style="height:100%; width:100%;" ng-controller="GanttCbProjectCtrl">

    <div id="topPane">
        <div class="combo_group">
            <label>Project</label>

            <div id="cbProject" style="width:180px;" class="combo"></div>
        </div>

        <div class="combo_group">
            <label>Sort</label>

            <div id="cbSort" style="width: 120px;" class="combo"></div>
        </div>

        <div class="combo_group">
            <label>1st grouping</label>

            <div id="cbGroup1" style="width:120px;" class="combo"></div>
        </div>

        <div class="combo_group">
            <label>2nd grouping</label>

            <div id="cbGroup2" style="width: 120px;" class="combo"></div>
        </div>

        <div class="combo_group">
            <label>Scale</label>

            <div id="idScale" style="width: 80px;" class="combo"></div>
        </div>

        <div id="idFilters" style="width: 160px;height: 50px;" class="form"></div>
        <div id="idNavi" style="width: 80px;height: 50px;" class="form"></div>

    </div>

    <div id="idGantt"></div>
</div>
