<div style="height:100%; width:100%;" ng-controller="GanttCtrl">
    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Select Project <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="choice in items">
                <a href ng-click="goProject(choice.uri)">{{choice.name}}</a>
            </li>
        </ul>
    </div>

    <div dhx-gantt data="tasks" style="height:100%; width:100%;"
         dhx-task-add="onTaskAdd"
         dhx-task-update="onTaskUpdate"
         dhx-task-delete="onTaskDelete"
         dhx-link-add="onLinkAdd"
         dhx-link-update="onLinkUpdate"
         dhx-link-delete="onLinkDelete"
            ></div>
</div>
